<phpunit
        colors                      = "true"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap                   = "HomeWork-5/vendor/autoload.php">
    <testsuites>
        <testsuite name="main">
            <directory>HomeWork-5/src/Units</directory>
        </testsuite>
    </testsuites>
</phpunit>